body{
    background-image: url(images/background_2.jpg);
    background-repeat: no-repeat;
}
header{ 
    height: 100px;
    background-color: #00FFFF;
    font-size: large; 
}

li{
    list-style-type: none;
    float: left;
    padding-top: 30px;
}
li a{
    text-decoration: none;
    margin-right: 30px;
    font-size: xx-large;
}